*{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    text-align: center;
    color: #f1f1f1;
    font-family: 'Libre Baskerville', serif;
}
img{
    width: 100%;
    font-size: 2rem;
}
h1{
    text-transform: uppercase;
}
