*{
    background-color: black;
}

img{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #f1f1f1;
    margin-top: 50px;
    font-family: 'Libre Baskerville', serif;
}
p{
    text-align: center;
    /* font-size: 20px; */
    color: #f1f1f1;
    font-family: 'Libre Baskerville', serif;
}